---
import ImageMod from "@/components/ImageMod.astro";
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Button from "@/shortcodes/Button";

const homepage = await getListPage("homepage", "-index");
const { about } = homepage.data;
---

{
  about.enable && (
    <section class="section-sm bg-primary/5 pb-18 xl:pb-24">
      <div class="container">
        <div class="row justify-center">
          <div class="max-md:col-10">
            <div class="flex flex-col lg:flex-row justify-between gap-6 lg:gap-20 items-center overflow-hidden">
              <div class="w-full lg:w-[60%]">
                <div class="relative">
                  <ImageMod
                    src={about.image}
                    alt="about image"
                    width={596}
                    height={563}
                    class="rounded-lg w-full h-auto top-0 xl:-top-12"
                    data_aos="zoom-in-sm"
                  />
                  <div
  class="py-14 px-6 bg-primary rounded-xl w-full mt-6"
  data-aos="zoom-in-sm"
  data-aos-delay="200"
>
              
                    <h6 class="text-white font-primary mb-10">
                      Venga a visitarnos
                    </h6>

                    <div class="flex flex-col gap-2 mt-4 text-white/85 gap-y-5">
                      {config.contact.phone && (
                        <a
                          href={`tel:${config.contact.phone}`}
                          class="text-white/85 flex items-start text-sm"
                        >
                          <DynamicIcon
                            icon={"FaPhone"}
                            className="mr-2.5 shrink-0 mt-0.5"
                          />
                          <span>{config.contact.phone}</span>
                        </a>
                      )}

                      {config.contact.email && (
                        <a
                          href={`mailto:${config.contact.email}`}
                          class="text-white/85 flex items-start text-sm"
                        >
                          <DynamicIcon
                            icon={"FaEnvelope"}
                            className="mr-2.5 shrink-0 mt-0.5"
                          />
                          <span>{config.contact.email}</span>
                        </a>
                      )}

                      {config.contact.address && (
                        <a
                          href={`https://www.google.com/maps/place/lilycake/@25.7440295,-100.386257,3a,75y,236.78h,80.69t/data=!3m7!1e1!3m5!1sekQnSr7qw90fq2VXoks-VA!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D9.310000000000002%26panoid%3DekQnSr7qw90fq2VXoks-VA%26yaw%3D236.78!7i16384!8i8192!4m7!3m6!1s0x866297b362a48a7b:0x27fc3c2d8f698126!8m2!3d25.7439747!4d-100.3863878!10e5!16s%2Fg%2F11nk7lf3hs?entry=ttu&g_ep=EgoyMDI2MDYwMS4wIKXMDSoASAFQAw%3D%3D)}`}
                          class="text-white/85 flex items-start text-sm"
                          target="_blank"
                        >
                          <DynamicIcon
                            icon={"FaLocationDot"}
                            className="mr-2.5 shrink-0 mt-0.5"
                          />
                          <span>{config.contact.address}</span>
                        </a>
                      )}
                    </div>
                  </div>
                </div>
              </div>

              <div class="lg:w-[40%] lg:mt-10">
                <h2
                  class="text-h3 md:text-h2 text-balance mb-7 text-center lg:text-left"
                  data-aos="fade-up-sm"
                  data-aos-delay="50"
                  set:html={markdownify(about.title)}
                />

                <p
                  set:html={markdownify(about.description)}
                  class="mb-8 text-center lg:text-left"
                  data-aos="fade-up-sm"
                  data-aos-delay="100"
                />
                {about.button.enable && (
                  <div
                    class="w-full flex justify-center lg:justify-start"
                    data-aos="fade-up-sm"
                    data-aos-delay="150"
                  >
                    <Button
                      link={about.button.link}
                      label={about.button.label}
                      className="mt-8 btn"
                      variant="solid"
                    />
                  </div>
                )}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
