---
import ImageMod from "@/components/ImageMod.astro";
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

const { pathname } = Astro.url;
const { copyright, footer_text } = config.params;
---

<footer
  class="section-sm max-lg:pb-10 overflow-x-hidden"
  style="background-color: color-mix(in srgb, var(--color-primary) 45%, black);"
>
  <div class="container">
    <div class="row justify-center md:justify-between md:mb-16 g-5">
      <div class="col-12 lg:col-3">
        <div data-aos="fade-up-sm">
          <Logo src={config.site.logo_footer} />
        </div>
        <p
          class="py-6 sm:w-3/5 lg:w-full text-sm xl:text-left xl:text-wrap text-white/60"
          set:html={markdownify(footer_text)}
          data-aos="fade-up-sm"
        />

        <Social
          source={social.main}
          className="social-icons-footer"
          data-aos="fade-up-sm"
        />
      </div>

      <div class="col-12 lg:col-8">
        <div class="flex flex-wrap lg:justify-between max-md:gap-6">
          {/* Regular menu items */}
          {
            menu.footer
              .filter((item: any) => item.children)
              .map((menu: any) => (
                <div class="w-[calc(50%_-_1rem)] lg:w-[25%] mb-7 last:mb-0">
                  <h6
                    class="mb-6 md:mb-10 text-white/90 font-primary font-bold text-lg md:text-sm"
                    data-aos="fade-up-sm"
                    data-aos-delay="200"
                  >
                    {menu.title}
                  </h6>
                  <ul>
                    {menu.children.map(
                      (
                        child: {
                          url: string | URL | null | undefined;
                          name: unknown;
                        },
                        i: number
                      ) => (
                        <li
                          class={`mb-4 last:mb-0 block w-fit text-white/70 hover:text-secondary hover:underline text-sm ${pathname === child.url ? "text-white underline" : ""}`}
                          data-aos="fade-up-sm"
                          data-aos-delay={200 + i * 50}
                        >
                          <a href={child?.url}>{child.name}</a>
                        </li>
                      )
                    )}
                  </ul>
                </div>
              ))
          }

          {/* Instagram section */}
          {
            menu.footer
              .filter((item: any) => item.instagramImages)
              .map((item: any) => (
                <div class="w-[calc(50%_-_1rem)] md:w-1/2">
                  <h6
                    class="mb-6 md:mb-10 text-white/90 font-primary font-bold text-lg md:text-sm"
                    data-aos="fade-up-sm"
                    data-aos-delay="200"
                  >
                    {item.title}
                  </h6>
                  <div class="grid grid-cols-2 gap-2">
                    {item.instagramImages.map(
                      (
                        igItem: {
                          image: string;
                          url: string | URL | null | undefined;
                        },
                        i: number
                      ) => (
                        <a
                          href={igItem.url}
                          class="block overflow-hidden rounded-md hover:opacity-80 transition-opacity"
                          data-aos="zoom-in-sm"
                          data-aos-delay={200 + i * 50}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <ImageMod
                            src={igItem.image}
                            alt="Instagram Image"
                            class="rounded-xl w-full object-cover aspect-square md:h-[176px]"
                            width={200}
                            height={176}
                          />
                        </a>
                      )
                    )}
                  </div>
                </div>
              ))
          }
        </div>
      </div>
    </div>
    <div class="max-md:mt-16 pt-6 border-t border-primary/40">
      <p
        class="text-sm text-center text-white/50 [&_a]:underline"
        set:html={markdownify(copyright)}
      />
    </div>
  </div>
</footer>
