---
import NavDropDown from "@/components/functional-component/NavDropDown";
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Button from "@/shortcodes/Button";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
const { navigation_button } = config;
const { pathname } = Astro.url;

// Check if current page is a blog single page
const isBlogSinglePage =
  pathname.startsWith("/blog/") &&
  !pathname.endsWith("/blog/") &&
  !pathname.includes("/page/");
---

{
  /* Contact Bar */
  config.settings.contact_bar && (
    <div class="relative z-30 w-full bg-primary py-2" data-aos="fade-down-sm">
      <div class="container flex justify-between items-center">
        <div class="flex gap-8 max-md:w-full max-md:justify-between">
          {config.contact.phone && (
            <a
              href={`tel:${config.contact.phone}`}
              class="text-white/85 text-sm"
            >
              <DynamicIcon icon={"FaPhone"} className="mr-2.5 inline-block" />
              {config.contact.phone}
            </a>
          )}

          {config.contact.email && (
            <a
              href={`mailto:${config.contact.email}`}
              class="text-white/85 text-sm"
            >
              <DynamicIcon
                icon={"FaEnvelope"}
                className="mr-2.5 inline-block"
              />
              {config.contact.email}
            </a>
          )}
        </div>

        <Social source={social.main} className="social-icons max-md:hidden" />
      </div>
    </div>
  )
}

<header
  class={`header z-20 ${config.settings.sticky_header && "sticky"} top-0 ${pathname === "/" || isBlogSinglePage ? "bg-white" : "bg-primary/5"} w-full transition-all duration-500`}
>
  <nav class="navbar mx-auto container flex justify-between items-center relative">
    <div
      class="order-0 flex items-center"
      data-aos="zoom-in"
      data-aos-delay="20"
    >
      <Logo />
    </div>

    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-pink-600 z-50"
    >
      <svg id="show-button" class="h-8 w-8 fill-current block">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>

    <ul
  id="nav-menu"
  class="navbar-nav absolute right-4 top-full w-64 flex flex-col items-center bg-primary p-4 rounded-xl shadow-lg lg:static lg:w-auto lg:flex-row lg:bg-transparent lg:p-0 lg:shadow-none"
>
      {
        main.map((menu, i: number) => (
          <>
            {menu.hasChildren ? (
              <NavDropDown menu={menu} pathname={pathname} client:load />
            ) : (
              <li
                class="nav-item"
                data-aos="fade-up-sm"
                data-aos-delay={100 + i * 50}
              >
                <a
                  href={menu.url}
                  class={`nav-link text-sm ${(pathname === `${menu.url}/` || pathname === menu.url) && "active"}`}
                >
                  {menu.name}
                </a>
              </li>
            )}
          </>
        ))
      }

      {/* Navigation button for mobile */}
    
    </ul>

    <div class="order-1 flex items-center md:order-2">
      
    </div>
  </nav>
</header>
